<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062676055284-g9stedglt85btoo1slsh20jnt0g36t6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062676055284-g9stedglt85btoo1slsh20jnt0g36t6l</string>
	<key>API_KEY</key>
	<string>AIzaSyBye3nBWg31X3ydeoMMjDtumEaEkqI1ePA</string>
	<key>GCM_SENDER_ID</key>
	<string>1062676055284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rockvinCafeMobileApplication</string>
	<key>PROJECT_ID</key>
	<string>rockvin-33f7e</string>
	<key>STORAGE_BUCKET</key>
	<string>rockvin-33f7e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062676055284:ios:efeb198952928b5e624aa1</string>
</dict>
</plist>